<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
    <li>
      <%= link_to item.title, item_path(item) %> | <%= number_to_currency(item.price.to_f/100) %>
      <% if current_user %>
        <%= button_to "Add to Cart", line_items_path(item_id: item) %>
      <% else %>
         | <strong>Must be logged in to add item to cart.</strong>
      <% end %>
    </li>
<% end %>
</ul>
