<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %> |
<% end %>

<br><br>

<% if !current_user %>
  <strong> Must be logged in to add items to cart. </strong><br><br>
<% end %>

<% @items.each do |item| %>
  <div>
    <%= link_to item.title, item_path(item) %> | <%= number_to_currency(item.price.to_f/100) %>
    <% if current_user %>
      | <%= button_to "Add to Cart", line_items_path(item_id: item) %>
    <% end %>
  </div><br>
<% end %>
